.search-control{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.search-control h1{
    margin-bottom: 11.7vh;
}

h3{
    color: var(--verde-4);
}

.search-control input::placeholder{
    color: var(--verde-4);
}