*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-1);
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 10vh;
    background-image: url(https://i.pinimg.com/474x/85/70/f6/8570f6339d3189c96e340d47a581d3b8.jpg);
    
}

form{
    margin: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: var(--verde-2);
    margin-bottom: 20px;
}

.container{
    height: 80vh;
    width: 35vw;
    background-color: var(--branco);
    box-shadow: rgba(0, 0, 0, 0.123) 1px 1px 10px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border-radius: 2rem;
}

.container-add{
    margin: 2rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}