*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-1);
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 10vh;
    background: 
    linear-gradient(rgba(0, 150, 0, 0.4), rgba(0, 160, 0, 0.4)),
    url("https://i.pinimg.com/originals/34/8f/c9/348fc9806e32bba0fb4c42e799ddf880.jpg");
}

form{
    margin: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: var(--verde-2);
    margin-bottom: 20px;
}

.container {
    min-height: 80vh;
    width: 35vw;
    background-color: var(--branco);
    box-shadow: rgba(0, 0, 0, 0.123) 1px 1px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    padding: 1rem;
    margin-bottom: 10vh;
}


.container-add{
    margin: 2rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.containerList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}