@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --verde-1: #5bba6f;
    --verde-2: #3fa34d;
    --verde-3: #2a9134;
    --verde-4: #137547;
    --verde-5: #054a29;

    --branco: #f9f9f9;
    --cinza-1: #e0e0e0;
    --cinza-2: #555;
    --preto: black;

    --font-1: "Lato", sans-serif;
}