.buttonAdd {
  margin-top: 30px;
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: var(--verde-2);
  border: 2px solid var(--verde-2);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
  width: 20rem;
}

.buttonAdd::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 70px;
  height: 30px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: var(--verde-2);
  transition: all 0.7s cubic-bezier(0.23, 1, 0.320, 1);
}

.buttonAdd:hover::before {
  scale: 3;
}

.buttonAdd:hover {
  color: #ffffff;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.buttonAdd:active {
  scale: 1;
}