*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-1);
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 10vh;
    background: 
    linear-gradient(rgba(0, 150, 0, 0.4), rgba(0, 160, 0, 0.4)),
    url("https://i.pinimg.com/originals/34/8f/c9/348fc9806e32bba0fb4c42e799ddf880.jpg");
}

form{
    margin: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: var(--verde-2);
    margin-bottom: 20px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* duas colunas iguais */
  gap: 2rem;
  min-height: 80vh;
  width: 75vw;
  background-color: var(--branco);
  box-shadow: rgba(0, 0, 0, 0.123) 1px 1px 10px;
  border-radius: 2rem;
  padding: 2rem;
  margin: 5vh auto 15vh auto;
}

/* Coluna da esquerda (Gerador de Links) */
.container-message {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Coluna da direita (Agenda) */
.container-agenda {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container-add{
    margin: 2rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.containerList{
    margin-left: 2rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/* Todos os inputs seguem esse padrão */
.form-control input::placeholder {
  color: transparent;
  transition: color 0.3s ease;
}

/* Placeholder só aparece depois da label terminar de subir */
.form-control input:focus::placeholder,
.form-control input:valid::placeholder {
  color: rgb(209, 203, 203);
  transition-delay: 0.4s; /* ajuste conforme o tempo da label */
}
