.form-control {
  position: relative;
  margin: 20px 0 10px;
  width: 20rem;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px var(--verde-4) solid;
  display: block;
  width: 100%;
  padding: 12.5px 0;
  font-size: 18px;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: var(--verde-4);
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: var(--verde-4);
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
  color: var(--verde-4);
  transform: translateY(-30px);
}